
<div class="row">
  <div class="col-md-8">
    <button class="btn btn-lg btn-street"><i class="fa fa-street-view"></i>Aqui</button>
    <button class="btn btn-lg btn-map"><i class="fa fa-map"></i>Lugares mas recorridos</button>
    <button class="btn btn-lg btn-car"><i class="fa fa-car"></i>Conductor</button>
    <button class="btn btn-lg btn-sings"><i class="fa fa-map-signs"></i>Quiero un aventon </button>
  <div>
</div>
<img border="0" hspace="0" vspace="4" width=1000 height=700 
 src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/hey%20there!.jpg?alt=media&token=9a5d021e-b841-4277-84ef-cb0d3c197e89" >
 
 
    <head>
        <title>Texto a dos columnas con tablas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table>
            <tr>
                <td>
                  
                     ;
                  
                  <h2 style="font-size:25px;" style="font-family:verdana;" width="500px;" 
                  style="color:black;"><b>Ir a la U es mucho mas facil</b></h2>
                  Toca un boton de la app y solicita que te lleven a la U o si tienes auto 
                  puedes solcitar llevar a alguien a la Universida en los horarios en el que estudias. 
                  
                 
                </td>
                <td>
                    <h2 style="font-size:25px;" style="font-family:verdana;"  width="500px;" 
                    style="color:black;"><b>Comodo y economico</b></h2>
                   Desde la comodidad de tu celular gracias a la aplicacion pudes solicitar este servicio 
                   ya seas pasajero y conductor mandando tu ubicacion 

                </td>
                <td>
                    <h2 >                                         </h2>
                

                </td>
                <td>
                    <h2 style="font-size:25px;" style="font-family:verdana;" width="500px;" 
                    style="color:black;"><b>Extiende tus amistades</b></h2>
                    Gracias a los aventones de la U podras ampliar tu circula de amistad.
                

                </td>
            </tr>
        </table>
    </body>
   
 
 <!-- Google maps -->
        <body>
            <h1>My First Google Map</h1>
            <div id="map" style="width:400px;height:400px;background:yellow"></div>          
            <script>
            function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
            </script>            
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD3AGf1BCy_uDDy7HyUpm7JFxSr5Dg1zY&callback=myMap"></script>              
            </body>

 