page-profile {

    .topRigth{
        margin-left: auto;
        margin-right: 5%;
        margin-top: 5%;
      
    }
    .topLeft{
    margin-left: 80%;
    margin-right: 5%;
    margin-top: 0%;
    }
    .fuenteletra {
        font: oblique bold 120% cursive;
        color: black;
    }
    .center{
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        font-size: larger;
    }    


}
