page-home {
.topRigth{
        margin-left: auto;
        margin-right: 5%;
        margin-top: 5%;
      
}
.topLeft{
    margin-left: 80%;
    margin-right: 5%;
    margin-top: 0%;
}
.bottomLeft{
    
    margin-left: 0%;
    margin-right: auto;
    margin-top: 150%;
    height: 65px;
}
.justbottom{
padding-bottom: 0%;  
text-align: center;  
}
.bottomRigth{
    height: 67px;
    width: 60;
    margin-left: 65%;
    margin-right: auto;
    margin-top: -28%;
   
}
.fuenteletra {
  font: oblique bold 120% cursive;
  color: black;
}

}
