
    <head>
        <title>Texto a dos columnas con tablas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>      
        <table>
            <tr>
                <td>
                    
                  <img border="0" hspace="70" vspace="80" width=220 height=200
                    src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/3.jpg?alt=media&token=517f33e9-e967-46fd-8778-52ebfcb22b61" >                                                         
                               
                </td>
                <td>
                        <img border="0" hspace="70" vspace="80" width=200 height=200
                        src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/6.PNG?alt=media&token=56ad63a7-66bc-4c98-b6a0-84d7bbe0ca7c" >                 
                              
                </td>              
                <td>
                        <img border="0" hspace="70" vspace="80" width=200 height=200
                        src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/web-2.PNG?alt=media&token=3f9223a3-a32c-45d0-b9f9-3a4cb230de12" >        
               </td>
            </tr>
        </table>
        <pre   style="text-align:center;"  style="font-family:verdana;"  style="text-align:center;"  >
            <h1  style="color:rgb(73, 70, 70);"  ><b>W H E R E V E R    Y O U    A R E...</b></h1>
            <h4 style="color:rgb(73, 70, 70);"  style="font-family:verdana;"  >Con un solo click en la App desde tu celular puedes  solcitar que
 te lleven a U a alguien de tu misma Universidad </h4>
        </pre>
        
                
    </body> 

    
