
<body>
    <div id = "vacio">        
        <div id = "menu">
            <pre   style="text-align:center;"  style="font-family:verdana;"  style="text-align:center;"  >
                <h1  style="color:rgb(10, 171, 123);"  ><b>W H E R E V E R    Y O U    A R E...</b></h1>
                <h3 style="color:#1c1935"  style="font-family:verdana;"  >Con un solo click  en la App puedes conseguir transporte a tu universidad 
        facil y seguro. </h3>
            </pre>  
        </div>
    </div>

    <div id = "contenedor">
        <div id = "body">
            <table> 
                <tr>                         
                    <td>                       
                        <img hspace="80" vspace="75" width=220 height=200 border="4" solid="white"
                         src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/3.jpg?alt=media&token=517f33e9-e967-46fd-8778-52ebfcb22b61" border="4" solid="white">                                                                                       
                     </td>
                    <td>
                        <img hspace="80" vspace="75" width=200 height=200 border="4" solid="white"
                        src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/6.PNG?alt=media&token=56ad63a7-66bc-4c98-b6a0-84d7bbe0ca7c" >                                              
                    </td>              
                    <td>
                        <img  hspace="80" vspace="75" width=200 height=200 border="4" solid="white"
                        src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/web-2.PNG?alt=media&token=3f9223a3-a32c-45d0-b9f9-3a4cb230de12" >        
                    </td>
                </tr>
            </table>
    <table>
        <tr>
        <pre   style="text-align:center;"  style="font-family:verdana;"  >
            <h1  style="color:#1c1935;"><b>               Ventajas </b></h1>
            <h4 style="color:#1c1935"  style="font-family:verdana;">
                                        - Amplias tu amistades 
                                        - Llegas a tiempo a la U
                                        - Mayor comodidad   </h4>
        </pre>
        </tr>
    </table>   
</div>
    <div id = "body2">
            <table>
                    <tr>   
                        <td>                    
                        <pre style="text-align:center;"  style="font-family:verdana;"  style="text-align:center;"  >                          
                            <h1  style="color:#1c1935"><b>          AMPLIA  TUS AMISTADES   </b></h1> 
                            <h3  style="color:#1c1935"><b>No tienes auto ? </b></h3>  
                            <h3  style="color:#1c1935"><b>Vives muy lejos de la U ? </b></h3>   
                            <h3  style="color:#1c1935;"><b>Descaragte la App y solicita aventones a la U </b></h3> 
                         </pre>     
                        </td>
                        <td>                    
                        <img border="0" hspace="70" vspace="130" width=300 height=450
                         src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/App-Web.PNG?alt=media&token=f0ddf054-4c93-414a-81b1-7aaf9336f46d" >                                                                                       
                    </tr>
             </table>    
    </div>
</div>
</body>
   