

    body {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/Logo-Uride.PNG?alt=media&token=25f2da2a-632a-408d-857d-6398755ca82c");  
        background-repeat: no-repeat;
        background-size: 40% 50%;
        background-position: 400px 280px ;
        background-attachment: fixed;  
    }
   
    
 /*  
   

      </table>                      
<body>      
    <table>
        <tr>
            <td>                    
            <img border="0" hspace="70" vspace="80" width=800 height=450
             src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/THE%20ROAD%20AHEAD%20(1).png?alt=media&token=4f0900f7-f2e1-4f7b-9cb4-6568a72dd8e4" >                                                                                       
            </td>   
     </table>               
</body> 

<pre style="text-align:center;"  style="font-family:verdana;"  style="text-align:center;"  >
    <h1  style="color:#1c1935"><b>  Rutas  mas  concurridas </b></h1> 
            
</pre> 

<body>      
    <table>           
        <tr>     
            <td>                    
                <img hspace="5" vspace="80" width=600 height=300 border="3" solid="#1c1935" 
                src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/Ruta-2.PNG?alt=media&token=1537589f-6128-4ae6-b41a-c427f1031b85" >                                                                                       
            </td>  
            <td>                    
             <img border="5" hspace="5" vspace="80" width=600 height=300
                src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/Ruta-3.PNG?alt=media&token=f2695fc7-7c5a-43da-b5b7-2ad3ffae8679" >                                                                                       
            </td>              
         </tr>
    </table>             
</body> 


*/

#vacio{
    width: 100%;
    height: 600px;
}
#contenedor{
    width: 100%;
#body 
{
    width: 100%;
    height: 600px; 
    background-image: url("https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/Fondo.jpg?alt=media&token=ea642889-2d71-4c4b-a47b-e5e7b568d979");
}    
   
}
#body2 
{
    width: 100%;
    height: 645px; 
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-position: 180px 30px ;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/Fondo.jpg?alt=media&token=ea642889-2d71-4c4b-a47b-e5e7b568d979");
}

#menu
{
    width: 100%;
    height: 80px;
    background-color: white; 
   
    
}
    